In [ ]:
#Data science tools and ecosystem

In [ ]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Some of the popular languages that Data Scientists use are:
#Python
#R
#SQL
#Julia

In [ ]:
#Some of the commonly used libraries used by Data Scientists include:
#NumPy
#Pandas
#GGplot
#Tidyverse

In [1]:
#Data science tools
#Apache Spark
#SAS
#SPSS

In [ ]:
#Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
b=200/60
print(b)

3.3333333333333335

In [ ]:
#Objectives:
#Popular languages for datascience
#arithmetic calculations
#popular tools for datascience

In [ ]:
#author details
#R Malik